* {
    box-sizing: border-box;
  }

 .header {
   margin-top: 130px;
   margin-left: 510px;
   font-weight: bolder;
   font-size: 45px;
}

.text-box {
  width:700px;
  height: 50px;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 400px;
  margin-top: 0px;
  
}

.start-quiz {
  margin-left: 690px;
  background-color: blue;
  color: white;
  border-radius: 5%;
}

.time-box {
  width: 80px;
  height: 20px;
  font-weight: bolder;
  float: right;
  margin-right: 15px;
  font-size: 20px;
}